/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 80%, #f6bb73 100%);

}
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}
/* the styles for the section */
main {
	clear: left;
	padding-left: 30px;
	padding-right: 30px;
}

main h1 {
	font-size: 150%;
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	padding-top: .3em;
	padding-bottom: .3em;
}

main h2 {
	font-size: 130%;
	color: #800000;
	padding-top:.5em;
	padding-bottom: .25em;
}

main h3 {
	font-size: 105%;
}

main > img {
	padding-bottom: 1em;
}

main p {
	padding-bottom: .5em;
}

main blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}

main ul {
	padding-left: 1.25em;
	padding-bottom: .25em;
}

main li {
	padding-bottom: .35em;
}

a:hover {
	font-style: italic;
}

footer {
	background-color: #931420;
}

footer p {
	text-align: center;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

.shadow {
	text-shadow: 2px 2px #800000;
}
/* the styles for the footer */
